adf_resources/pipeline/ClientReportingPipeline.json
{
	"name": "ClientReportingPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetClientNames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetClientsToReport_Fake]",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None",
						"storedProcedureName": "@pipeline().parameters.getClientsProc"
					},
					"dataset": {
						"referenceName": "AzureSqlStoredProcSource",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "dbo.Placeholder"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachClient",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetClientNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetClientNames').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ClientProc1ToCsv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[usp_ClientReport_Fake]",
									"storedProcedureParameters": {
										"ClientId": {
											"type": "Int32",
											"value": {
												"value": "@item().ClientId",
												"type": "Expression"
											}
										},
										"ReportDate": {
											"type": "DateTime",
											"value": null
										},
										"RowCount": {
											"type": "Int32",
											"value": "250"
										}
									},
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None",
									"storedProcedureName": "@pipeline().parameters.clientProc1"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureSqlStoredProcSource",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "dbo.Placeholder"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BlobCsvSink",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@concat(pipeline().parameters.blobBaseFolder, '/', item()[pipeline().parameters.clientNameColumn])",
										"fileName": "ClientProc1.csv"
									}
								}
							]
						},
						{
							"name": "ClientProc2ToCsv",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ClientProc1ToCsv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[usp_ClientReport_Fake2]",
									"storedProcedureParameters": {
										"ClientId": {
											"type": "Int32",
											"value": {
												"value": "@item().ClientId",
												"type": "Expression"
											}
										},
										"ReportDate": {
											"type": "DateTime",
											"value": null
										},
										"RowCount": {
											"type": "Int32",
											"value": "250"
										}
									},
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None",
									"storedProcedureName": "@pipeline().parameters.clientProc2"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureSqlStoredProcSource",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "dbo.Placeholder"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BlobCsvSink",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@concat(pipeline().parameters.blobBaseFolder, '/', item()[pipeline().parameters.clientNameColumn])",
										"fileName": "ClientProc2.csv"
									}
								}
							]
						},
						{
							"name": "ClientProc3ToCsv",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ClientProc2ToCsv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[usp_ClientReport_Fake3]",
									"storedProcedureParameters": {
										"ClientId": {
											"type": "Int32",
											"value": "@item().ClientId"
										},
										"ReportDate": {
											"type": "DateTime",
											"value": null
										},
										"RowCount": {
											"type": "Int32",
											"value": "250"
										}
									},
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None",
									"storedProcedureName": "@pipeline().parameters.clientProc3"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureSqlStoredProcSource",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "dbo.Placeholder"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BlobCsvSink",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@concat(pipeline().parameters.blobBaseFolder, '/', item()[pipeline().parameters.clientNameColumn])",
										"fileName": "ClientProc3.csv"
									}
								}
							]
						},
						{
							"name": "ClientProc4ToCsv",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ClientProc3ToCsv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[usp_ClientReport_Fake4]",
									"storedProcedureParameters": {
										"ClientId": {
											"type": "Int32",
											"value": "@item().ClientId"
										},
										"ReportDate": {
											"type": "DateTime",
											"value": null
										},
										"RowCount": {
											"type": "Int32",
											"value": "250"
										}
									},
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None",
									"storedProcedureName": "@pipeline().parameters.clientProc4"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureSqlStoredProcSource",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "dbo.Placeholder"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BlobCsvSink",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@concat(pipeline().parameters.blobBaseFolder, '/', item()[pipeline().parameters.clientNameColumn])",
										"fileName": "ClientProc4.csv"
									}
								}
							]
						},
						{
							"name": "BuildClientWorkbook",
							"type": "AzureAutomation",
							"dependsOn": [
								{
									"activity": "ClientProc4ToCsv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureAutomationLinkedService",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"runbookName": "@pipeline().parameters.automationRunbookName",
								"parameters": {
									"ClientName": "@item()[pipeline().parameters.clientNameColumn]",
									"ClientFolder": "@concat(pipeline().parameters.blobBaseFolder, '/', item()[pipeline().parameters.clientNameColumn])",
									"OutputFileName": "@pipeline().parameters.xlsxFileName"
								}
							}
						},
						{
							"name": "CopyWorkbookToSharePoint",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "BuildClientWorkbook",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource"
								},
								"sink": {
									"type": "BinarySink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BlobXlsxSource",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@concat(pipeline().parameters.blobBaseFolder, '/', item()[pipeline().parameters.clientNameColumn])",
										"fileName": "@pipeline().parameters.xlsxFileName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SharePointXlsxSink",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.sharePointFolderPath",
										"fileName": "@concat(item()[pipeline().parameters.clientNameColumn], '-', pipeline().parameters.xlsxFileName)"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"getClientsProc": {
				"type": "string",
				"defaultValue": "dbo.usp_GetClientNames"
			},
			"clientNameColumn": {
				"type": "string",
				"defaultValue": "ClientFolderName"
			},
			"clientProc1": {
				"type": "string",
				"defaultValue": "dbo.usp_ClientReport_Fake"
			},
			"clientProc2": {
				"type": "string",
				"defaultValue": "dbo.usp_ClientReport_Fake2"
			},
			"clientProc3": {
				"type": "string",
				"defaultValue": "dbo.usp_ClientReport_Fake3"
			},
			"clientProc4": {
				"type": "string",
				"defaultValue": "dbo.usp_ClientReport_Fake4"
			},
			"blobBaseFolder": {
				"type": "string",
				"defaultValue": "clients"
			},
			"automationRunbookName": {
				"type": "string",
				"defaultValue": "BuildClientWorkbook"
			},
			"xlsxFileName": {
				"type": "string",
				"defaultValue": "ClientReport.xlsx"
			},
			"sharePointFolderPath": {
				"type": "string",
				"defaultValue": "Shared Documents/Client Reports"
			}
		},
		"annotations": []
	}
}